/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}
body {
    background-image: url("../img/Stazione-treni.webp");
}

h2 {
    padding: 10px auto;
    text-align: center;
}
.btnsubmit, .btnreset {
    text-transform: uppercase;
    font-weight: 500;
}
.container {
    color: white;
    padding: 20px;
}

#input-section h2, #ticket-print h2, #ticket-print p {
    color: white;
}
img {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.image-container img {
    height: 250px;
    overflow: hidden;
    /* object-fit: cover; */
}

#input-section {
    margin: 50px auto;
    max-width: 1200px;
    border-radius: 20px;
    background-color: #036B69;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#ticket-print {
    margin: 50px auto;
    max-width: 800px;
    border-radius: 20px;
    background-color: #E13032;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#ticket-print p {
    font-weight: 700;
}
